.App {
  background-color: black;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("./assets/background-bird.jpeg");
  background-size: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

/* 
#1C1819
#A2A2A2  
#4B5530
#DFAF81
*/

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1c1819;
  height: 200px;
  width: 60%;
  margin-bottom: 1em;
  font-size: 5em;
  text-shadow: 3px 1px 5px #4b5530;
}

.App-header:hover {
  transform: scale(1.2);
}

.header-small {
  margin-top: 0;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: #A2A2A2 ;
}