.card {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  /* border: 1px solid blanchedalmond; */
}

.card:hover {
  background-color: #4b5530;
  opacity: .8;
  transform: scale(1.1);
}
