.menu {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: #a2a2a2;
  height: 50vh;
  display: flex;
  flex-direction: row;
  font-size: x-large;
  justify-content: space-evenly;
  margin-top: 1em;
  width: 80vw;
}

a:hover {
  color: #1c1819;
}

@media only screen and (max-width: 1100px) {
  .menu {
    width: 80vw;
  }
}

@media only screen and (max-width: 800px) {
    .menu {
        flex-direction: column;
    }
}

@media only screen and (max-width: 625px) {
    .menu {
        height: 40%;
    }
}
